*::before, *, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    overflow: hidden;
    font-family: sans-serif;
}

.logo{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
    width: 80%;
    margin: 0 auto;

    text-indent: -9999px;
    background: url('../img/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;

    transform: scale(.5) translateY(-200%);

    animation: bob 2s alternate;
}

@-webkit-keyframes bob{
    50%{ transform: translateY(0%); }
}

.name{
    width: 80%;
    margin: 20px auto;

    overflow: hidden; /* clearfix */
}

.name__input,
.name__button{
    float: left;

    font-size: 2em;
    border: 0;
    background: white;
    height: 2em;
}

.name__input{
    width: 80%;
    border: 2px solid rgba(0,0,0,.25);
    padding: .5em;
}

.name__button{
    width: 20%;

    color: rgba(0,0,0,.25);
}

.name__button:hover{
    opacity: .9;
    cursor: pointer;
}

.action{
    padding: 1em;

    font-size: 8em;
    text-align: center;

    background: black;
    color: white;

}

.action--fade{
    animation: actionOut 3s;
}

.action--twist{
    background: blue;
}

.action--press{
    background: green;
}

.action--flick{
    background: yellow;
}

.action--bev{
    background: orange;
}

.action--failed{
    background: red;
}

@-webkit-keyframes actionOut{
    to{
        opacity: 0;
    }
}
